$text-font: 'Press Start 2P', cursive;

body {
	font-family: $text-font;
	background-image: url('../images/sword.jpg');
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

}

button { 
	color: white;
	margin-top: 10%;
	margin-left: 10%;
	background-color: transparent;
	border: none;
	font-size: 2rem;
}

div {
	color: #FFFF00;
	float: left;
	margin: 2%;

}

ul {
	list-style: none;
}



.board {
	height: 100%;
	width: 100%;
	display: inline-block;


}

img {
	height: 150px;
	width: 100px;
	border-radius: 25px;
	background-color: white;

}

.card {
	height: 150px;
	width: 100px;
	border-radius: 25px;
	border: 20px;
	border-color: blue;
	background: white;
	background-image: url('../images/logo.png');
	background-repeat:no-repeat;
	position: relative;

}

.card:hover {
	background: #04bfd8;
}


@media all and (min-width: 768px) {
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

#reset {
	color: white;
}
